{% extends "base.html" %}
{% block title %}Edit Emulator{% endblock %}

{% block content %}
<h2>Edit Emulator</h2>
<form method="post">
    <input type="text" name="name" placeholder="Name" value="{{ emulator.name }}" required>
    <input type="text" name="link" placeholder="Link" value="{{ emulator.link }}" required>
    <input type="text" name="year" placeholder="Year" value="{{ emulator.year }}">
    <br>
    <label>Select Compatible Consoles:</label>
    <br>

    {% for console in consoles %}
        <label class="checkbox-item">
            <input type="checkbox" 
                name="console_ids" 
                value="{{ console.console_id }}"
                {% if console.console_id in current_console_ids %}checked{% endif %}>
            <span>{{ console.name }}</span>
        </label>
    {% endfor %}
    
    <button type="submit" class="btn btn-add">Update</button>
</form>
{% endblock %}