{% extends "base.html" %}

{% block content %}

<h2>Welcome!</h2>
<br>
<h3>To those who have never heard of an "Emulator" or a "ROM"...</h3>
<p>This project is inspired by the online communities dedicated to storing digital copies of retro games as well as emulation tools for running them on modern PC hardware. There is a large and dedicated community online that actively searches for ROMs (read-only memory files, think a virtual CD or cartridge), and technical people who work on designing the emulators themselves. There is also a hunt for digitizing game manuals which used to come in the case that contained the CD or cartridge, which contained information about the storyline, controls, tips and tricks, and more.
<br><br>This project aims to provide a means for people to easily store and view information on ROMs, emulators, publishers, and game manuals.
</p>
{% endblock %}